<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Medical Insurance Charges Prediction</title>
	<style>
		body {
			background-image: url("https://gumlet.assettype.com/bloombergquint%2F2023-03%2Ff78a0a6c-8a5f-4217-9526-e248dee16a78%2Fhealth_insurance_concept_2022_12_16_11_16_21_utc.jpg?auto=format%2Ccompress&w=1200");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>
<body>
	<h1>Medical Insurance Charges Prediction</h1>
	<form method="GET" action="/predict_charges">
		<label>Age:</label>
            <input type = "text" name = "age">
            </select>

            <br>
            <br>

            <label>Sex:</label>
            <select name = "sex">

                <option value = "male">Male</option>
                <option value = "female">Female</option>
            </select>

            <br>
            <br>

            <label>BMI:</label>
            <input type = "text" name = "bmi">
            </select>


            <br>
            <br>

            <label>Children:</label>
            <input type = "text" name = "children">
            </select>


            <br>
            <br>

            <label>Smoker:</label>
            <label>Yes:</label> <input type = "radio" name="smoker" value = "yes">
            <label>No:</label> <input type = "radio" name="smoker" value = "no">
            </select>

            <br>
            <br>

            <label> Region: </label>
            <label for = "region">
            <select name = "region" id="region">
                    <option value = "northeast">Northeast</option>
                    <option value = "southeast">Southeast</option>
                    <option value = "northwest">Northwest</option>
                    <option value = "southwest">Southwest</option>
            </select>

            <br>
            <br>

            
            <br>
            <input type = "submit" value = "SUBMIT">

            <br>
	</form>
	<p>Your Insurance Premium Charges will be <b>{{ prediction }} /- Rs.</b> Only. </p>
</body>
</html>
